<!--
  Generated template for the GroupAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Group</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h2>Start a new group</h2>
    <p>Find new people and do your thing together</p>
  </div>
  <ion-card>
    <img *ngIf="imgSrc" [src]="imgSrc" />
    
      <ion-row padding>
        <ion-label stacked class="label-text">Please Select Group Image</ion-label>
        <ion-item>
          <button ion-button round outline color="dark" (click)="takeImage()"><ion-icon name="image" style="font-size:30px;"></ion-icon></button>
        </ion-item>
      </ion-row>

   
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedCate">
        <ion-option *ngFor="let cate of categories" [value]="cate">{{cate.name}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label stacked class="label-text">Group Name</ion-label>
      <ion-input type="text" [(ngModel)]="groupName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-text">Description</ion-label>
      <ion-textarea [(ngModel)]="groupDesc"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button block color="orange" outline (click)="createGroup()">Create Group</button>
</ion-content>
