<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
        <button ion-button icon-start (click)="presentActionSheet()">
          <ion-icon name='more' ></ion-icon>
        </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  

  <img class="cover" src="{{ (event | async)?.img }}">
  <div padding-horizontal>
    <p class="greyFont">{{ (event | async)?.groupID }}</p>
    <h2>{{id}}</h2>
    <!-- <ion-list>
      <ion-item padding>
         {{joinedThisEvent ? 'You are joined this event' : 'Are you going to join?'}} 

       

        <ion-icon *ngIf="!joinedThisEvent" class="bigIcon" name="checkmark-circle-outline" color="secondary" item-end (click)="goEvent()"></ion-icon>
        <ion-icon *ngIf="joinedThisEvent" class="bigIcon" name="close-circle-outline" color="danger" item-end padding-left (click)="quitEvent()"></ion-icon>
      </ion-item>
    </ion-list> -->

    <div *ngIf="!isOrganizer">
    <button *ngIf="!joinedThisEvent && !isOver"  ion-button block color="skyblue" outline (click)="goEvent()">Join Event</button>
    <button *ngIf="joinedThisEvent && !isOver" ion-button block color="danger" outline (click)="quitEvent()">Quit Event</button>
    </div>
    <div *ngIf="isOrganizer">
      <div *ngIf="eventOnGoing">
          <button ion-button block outline (click)="scan()">Take Attendance</button>
      </div>
      <div *ngIf="!isOver && !eventOnGoing">
        <button ion-button block color="danger" outline >Cancel Event</button>
      </div>
      <div *ngIf="isOver">
        <button ion-button block color="orange" outline >Get WeCoin</button>
      </div>
    </div>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="time" item-start></ion-icon>
        <h2>{{ (date_from | date)}}</h2>
        <p>{{ (date_from | date:'shortTime')}} - {{ (date_to | date:'shortTime')}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        <h2 text-wrap>{{ (event | async)?.location }}</h2>
        
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <h2>Organized by {{organizerName}}</h2>
      </ion-item>
    </ion-list>

    <h5>{{ numberOfAttendedMembers }} people are going</h5>
    <div class="avatar_holder" padding-horizontal>

      <ion-avatar *ngFor="let member of attendedMembers">
        <img src="{{member.img}}">
      </ion-avatar>
    </div>

    <div>
      <p>
          {{ (event | async)?.description }}
      </p>
    </div>

    <h5>Photos</h5>
    <div></div>
    <button ion-button block color="skyblue" outline (click)="addPhoto()">Add Photo</button>

    <h5>Comments</h5>
    <div></div>
    <button ion-button block color="skyblue" outline (click)="addComment()">Add Comment</button>


    
  </div>
</ion-content>