<!--
  Generated template for the UserGroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Groups</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="presentActionSheet()">
        <ion-icon name='more' ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-item-group>
      <ion-item-divider color="light">Owned Group</ion-item-divider>
      <ion-item *ngFor="let og of ownedGroup" (click)="viewGroup(og)">{{ og.id }}</ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">Joined Group</ion-item-divider>
        <ion-item *ngFor="let jg of joinedGroup" (click)="viewGroup(jg)">{{ jg.id }}</ion-item>
    </ion-item-group>

</ion-content>
