<!--
  Generated template for the RegisterSelectCategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button [disabled]="!isValid" ion-button icon-start (click)="nextPage()">
        Next
      </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>





</ion-content>

<ion-content padding>
  <p center text-center>Select some categories to get started</p>
  <ion-list>
      <ion-row no-padding>
          <ion-col col-6 *ngFor="let cate of categories ; let i=index">
                <ion-card [ngClass]="{'selected' : cate.selected}" (click)="changeClass(cate)">
                    <img src="{{cate.img}}" />
                    <div>{{cate.name}}<i class="fas fa-check" *ngIf="cate.selected"></i></div>
                  </ion-card>
          </ion-col >

        </ion-row>
      </ion-list>




</ion-content>