<ion-header>
  <ion-navbar >
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-start class="avatar_holder" >
            <ion-avatar>
                <img src="{{userImg}}">
              </ion-avatar>
          
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div>
    <h3 style="display: inline;">Your groups</h3>
    <span class="greyFont" style="float:right; padding-top:10px;" (click)="joinNewGroup()">+ Join new group</span>
  </div>

  
  <ion-scroll scrollX="true" style="white-space: nowrap; height: 200px;" class="card-background-page" >
    <div class="scroll-item" *ngFor="let group of groups">
        <ion-card (click)="groupDetail(group)">
          <img src="{{group.img}}">
          <div class="card-title">{{group.id}}</div>
          </ion-card>
    </div>
  </ion-scroll>
  
  <h3>Upcoming Events</h3>
<div *ngFor="let group of groups">
    <ion-card class="adv-map" *ngFor="let event of group.eventsSnapshot">
        <div style="position: relative" (click)="eventDetail(event)">
          <img src="{{event.img}}">
          <ion-fab right top>
            <button ion-fab class="fab-map">
              <ion-icon name='pin'></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-item>
          <h2 padding-top>{{event.id}}</h2>
          <p text-wrap>{{event.description}}</p>
        </ion-item>
       
        <ion-item actions>
          <ion-note item-start class="item-bold">{{event.date_from | date: 'fullDate'}}</ion-note>
          
        </ion-item>
      </ion-card>
</div>


</ion-content>
