page-user-update {
    .avatar_holder{

        margin-bottom: 1rem;
        
        ion-avatar > img {
            margin: auto;
            display: block;
            border-radius: 50%;
            height: 12rem;
            width: 12rem;
        }
    }
}
