// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/scss/fontawesome.scss";
@import "../assets/scss/solid.scss";
@import "../assets/scss/brands.scss";

.small {
    font-size: 1rem;
}

.greyFont {
    color: #6E6E6E;
}


.cover{
    width: 100%;
}

.user {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-user);
    }
}

.check {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-check);
    }

    
}

.twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-twitter);
    }
}

.topLine {
    border-top-style: solid;
    border-width: 0.1px;
    border-color: #EFEFEF;
}

.bottomLine {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: #EFEFEF;
}