page-user {
    .avatar_holder{

        margin-bottom: 1rem;

        
        ion-avatar > img {
            margin: auto;
            display: block;
            border-radius: 50%;
            height: 10rem;
            width: 10rem;
        }

        h4 {
            text-align: center;
        }
    }

  
}
