page-wallet-detail {

    .qrcode img {
        display: block;
        margin: auto;
    }

    .balance p {
        font-size: 3rem;
        text-align: center;
    }

    #address {
        font-size: 1.2rem;
    }
}
