page-group-detail {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    .organizer {
        padding-top:2rem;
        
        ion-avatar,
        ion-avatar>img {
            display: inline;
            border-radius: 50%;
            height: 6rem;
            width: 6rem;
        }
    }
    
    ion-scroll[scrollX] {

        height: 30vh;
        white-space: nowrap; 
        
        .scroll-item {
            display: inline-block;
            height: 100%;
          
        }
        ion-card {
            width: 65vw;
            height: 100%;
            margin: 5px;
       
        }

        
    }

    .avatar_holder{
        ion-avatar,
        ion-avatar > img {
            display: inline;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
        }
    }

    .plugin {

        .col-container {
            display: inline-block;
            text-align: center;
        }
        img {
            width: 100px;
        }

        .pluginName {
            font-size: 1rem;
        }
    }

}